<div id="<%= dom_id appointment %>">
  <p>
    <strong>Patient name:</strong>
    <%= appointment.patient_name %>
  </p>

  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= appointment.address %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Technician name:</strong>
    <%= appointment.technician_name %>
  </p>

  <p>
    <strong>Hub:</strong>
    <%= appointment.hub_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

</div>
